.fisrtSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../Assets/images/about/modern-design.jpg');
    padding: 150px 0px 150px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        color: white;
        font-size: 3.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 5%;
    }
}
.sections_wrapper{
    .sectionCEO{
        .row{
            row-gap: 2rem;
            justify-content: space-between;
            .sectionDivision{
                width: 45%;
            }
            .CEO_detail{
                span{
                    letter-spacing: 2px;
                }
                p{
                    line-height: 2rem;
                }
            }
        }
    }
    .partnersDetails{
        .row{
            justify-content: center;
        }
    }    
}
@media (max-width:992px){
    .fisrtSection{
        h1{
            font-size: 2.5rem !important;
        }
    }
    .sectionDivision{
        width: 100% !important;
    }
}