.clientFeedbackContainer{
    .autoImg{
        img{
            height: 100%;
        }
    }
    .colLeft{
        .clientPara{
            max-width: 75%;
        }
    }
}

@media (max-width:992px){
    .colLeft{
        .clientPara{
            min-width: 100% !important;
        }
    }
}