.testimonialContainer{
    background: linear-gradient(to right,  #dddddd, #999999);
    h1{
        font-family: 'Pacifico', cursive;
    }
    padding: 90px 0px 0px 0px;
    .sections_wrapper{
        .bottomDivider{
            display: none;
        }
    }
}
